# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native generated folders
ios/
android/

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Windows / macOS
Thumbs.db
.DS_Store
